@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  place-items: center;
}

#app {
  height: 100%;
  margin: 0 auto;
  max-width: 1920px;

}


h2 {
  font-size: 2.5rem;

}

h3 {
  font-size: 1.5rem;

}

button[type="submit"] {
  background-color: #2F69FE;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  max-width: 10rem;
  padding: 0.7rem 2rem;
  transition: background-color 0.3s;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #4779f9;
  transition: background-color 0.3s;
}

@media (min-width: 500px) {

  #app {
    padding: 2rem;
  }
}




